  <div class="subrecord-form-container">
    <% if show_external_ids? %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_ids"} %>
    <% end %>
  </div>
